body{
    height: 100%;
    display: flex;
  
   background-color: rgb(209, 206, 206);
   justify-content: center;
   align-items: center;
}
.container{
  /* text-align: center; */
  padding: 20px;
  border: 2px solid black;
  align-items: center;
border-radius: 10%;
background-color: white;


}
#ka{
    text-align: center;
    color: black;
}
button{
    background-color: rgb(22, 192, 22);
    color: white;
    width: 200px;
    height: 30px;
    text-align: center;
    cursor: pointer;

}